/* Write your CSS here */
.container {
  margin: 0px;
  background: linear-gradient(to right, #fa7257, #fc63a7);
  height: 100vh;
  width: 100%;
}
.heading {
  font-weight: bold;
  font-size: 30px;
  font-family: Roboto;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: white;
  height: 20px;
  width: 100px;
  color: #dd1264;
  font-family: Roboto;
  padding: 5px;
}

.names {
  background-color: white;
  color: black;
  height: 50px;
  width: 80px;
  padding: 10px;
  margin: 10px;
}
